---

---

        <div class="animate-pulse flex flex-col justify-center items-center">
            <div class="min-w-[150px] h-[220px] md:h-[250px] md:w-[400px] lg:h-[400px] bg-slate-400 rounded-2xl"></div>
            <div class="h-4 w-[140px] bg-slate-400 mt-2 rounded"></div>
            <div class="h-3 w-[80px] bg-slate-400 mt-2 rounded"></div>
            <div class="h-3 w-[50px] bg-slate-400 mt-2 rounded"></div>
        </div>