---
import CardSkeleton from "./CardSkeleton.astro";
import Card from "../Card.astro";
import {
	getTrending
} from "../../utils/api.js";

const trendingMovies = await getTrending();
interface Movie {
    id: number;
    
}

---
<div class="mx-2 lg:container mb-11">
	<div class="flex justify-between mb-4 mt-9">
		<h2 class="text-xl text-slate-100 font-primary">Trending Movie</h2>
	</div>
	<div class="flex space-x-4 lg:gap-5 snap-x overflow-x-auto scroll-smooth">
		{trendingMovies.length > 0 ? (
			trendingMovies.map(movie => (
				<div
					key={movie.id}
					class="min-w-[155px] md:min-w-[170px] lg:min-w-[180px] flex flex-col"
					>
					<Card type="movie" media={movie} />
				</div>
			))
		): (
			Array.from({
				length: 10
			}).map((_, index) => (
				<CardSkeleton key={index} />
			))
		)}
	</div>
</div>