---
import Layout from '../layouts/Layout.astro';
import MovieUpComing from "../components/views/movies/MovieUpComing.astro"
import MovieTrending from "../components/views/movies/MovieTrending.astro"
import MoviePlayNow from "../components/views/movies/MoviePlayNow.astro"


const {
	upcomingMovies,
	trendingMovies,
	playNowMovie
} = Astro.props;
---

<Layout title="Halaman-Home">
	<main class="bg-site bg-cover overflow-hidden bg-no-repeat pb-24">
		<div
			
			<h1 class="container text-slate-100 font-primary">Halaman Home</h1>
		</div>
		<MovieUpComing upcomingMovies={upcomingMovies} />
		<MoviePlayNow playNowMovie={playNowMovie} />
		<MovieTrending trendingMovies={trendingMovies} />
	</main>
</Layout>