---
import Layout from '../layouts/Layout.astro';
import MovieUpComing from "../components/movies/MovieUpComing.astro"
import MovieTrending from "../components/movies/MovieTrending.astro"
import MoviePlayNow from "../components/movies/MoviePlayNow.astro"


interface Props {
	title: string;
	description: string;
	image?: string;
}


const {
	upcomingMovies,
	trendingMovies,
	playNowMovie
} = Astro.props;

---

<Layout title="Halaman-Home" description="Halaman Home Movie-Search">
	<main class="bg-site bg-cover overflow-hidden bg-no-repeat pb-24">
		<div

			<h1 class="container text-slate-100 font-primary">Halaman Home</h1>
		</div>
		<MovieUpComing upcomingMovies={upcomingMovies} />
		<MoviePlayNow playNowMovie={playNowMovie} />
		<MovieTrending trendingMovies={trendingMovies} />
	</main>
</Layout>